body{
    height: 1000px;
    width: 100%;
    background-image: url(../image/slim.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
.section-1{
    padding: 2% 2% 46% 5%;
    height: 10px;
    /* width: 100%; */
  
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.brandname{
    /* padding-right: 800px; */
    /* border: 1px solid blue; */
    color: white;
    font-weight: bolder;
    font-size: 35px;
    margin-left: 200px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li{
    color: white;
    /* border: 1px solid green; */
    padding: 40px;
    margin-top: -15px;
}
#login{
    margin-top: 10px;
}
#button-1{
    width: 210px;
    height: 70px;
    background: #25A6F0;
    color: white;
    font-size: 20px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.ensure{
    font-size: 80px;
    color: white;
    margin-top: 180px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.objects{
    font-size: 30px;
    color: white;
    font-weight: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.button2{
    height: 70px;
    color: white;
    background: #25A6F0;
    font-size: 30px;
    border-radius: 14%;
    margin-left: 700px;
}
.button3{
    height: 70px;
    font-size: 30px;
    border-radius: 20%;
    color: white;
    background: none;
}
.section-2{
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
.peace{
    border: 1px solid ;
    background: white;
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: 400px;
}
.set{
    border: 1px solid blue;
    background-color: white;
    height: 200px;
    width: 300px;
    text-align: center;
}
.satisfaction{
    background: #25A6F0;
    border: 1px solid blue;
    height: 200px;
    width: 300px;
    text-align: center;
    margin-right: 400px;
}
